@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* actual style sheet starts here */

body{
  font-family: Helvetica, sans-serif;
}

/* navigation section starts here */

header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

header nav img{
  height: 100px;
  width: 100px;
}

header nav ul{
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 100;
}

header nav ul a{
  text-decoration: none;
  color: #909a9c;
  padding: 0 10px;
}

header nav button{
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #909a9c;
}

/* navigation section ends here */
/* entry section starts here */

.entry_section{
  padding: 20px 80px 50px 80px;
  background-image: url(../images/sectionbg.png);
  background-size: 1030px 470px;
  background-repeat: no-repeat;
  background-position: bottom 86px right 224px;
  position: relative;
  height: 500px;
}

.entry_section h1{
  text-transform: uppercase;
  font-size: 47px;
  font-weight: 1000;
  color: #fff;
  background-color: #6cb3dd;
  position: absolute;
  left: 100px;
  top: 30px;
  padding: 120px 205px 120px 90px;
  text-align: center;
}

.entry_section p{
  font-size: 13px;
  text-transform: capitalize;
  color: #fff;
  background-color: #5fb0dd;
  position: absolute;
  width: 435px;
  top: 80px;
  right: 100px;
  padding: 125px 140px;
  text-align: center; 
  line-height: 2;
}

/* entry section ends here */
/* booking section starts here */

.booking_section{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.booking{
  background-color: #5eabd7;
}

.booking h2{
  color: #fff;
  font-size: 30px;
  margin: 60px 0;
  font-weight: 1000;
  text-transform: uppercase;
}

.booking p{
  color: #fff;
  font-size: 14px;
  padding: 0 115px;
  line-height: 2;
}

.booking button{
  background-color: #fff;
  border: none;
  font-size: 13px;
  font-weight: 600;
  padding: 20px 40px;
  margin-top: 50px;
  text-transform: uppercase;
  color: #333;
}

.booking .booking_button{
  background-color: #ffe401;
}

.booking_address{
 display: flex;
 color: #224e67;
 text-align: left;
 padding-top: 20px;
}

.booking_loc_date{
  border-top: 1px solid #5896b9;
  flex-basis: 50%;
}

.booking_loc_date i{
  border-right: 1px solid #5896b9;
  padding: 25px;
  font-size: 22px;
}

.fa-calendar{
  border-left: 1px solid #5896b9;
}

.booking_loc_date span{
  text-transform: capitalize;
  font-size: 14px;
  margin-left: 30px;
}

.booking_img img{
  height: 410px;
  width: 670px;
}

/* booking section ends here */
/* article section starts here*/

.section_heading_styleone{
  padding-top: 100px;
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 24px;
  text-align: center;
  color: #a4a4a4;
  letter-spacing: 10px;
  position: relative;

}

.border_bottom_style{
  border-bottom: 4px solid #5eabd5;
  display: inline-block;
  width: 80px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%,0);
}

.saving{
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  padding: 0 160px;
  height: 605px;
}

.sav_list_wrapper{
  flex-basis: 38%;
  overflow: auto;
  padding-left: 10px;
}

.saving_list{
  border-left: 2px solid #ccc;
  padding-left: 30px;
}

.saving_list div{
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;
  position: relative;
  width: 275px;
}

.saving_list span{
  background-color: lightcoral;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  border-radius: 100px;
  position: absolute;
  left: -42px;
  top: 50%;
  transform: translate(0,-50%);
}

.saving_list div:last-child{
  margin: 0;
}

.saving_list h4{
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 14px;
  color: #333;
}

.saving_list p{
  font-size: 14px;
  margin-top: 10px;
}

.saving_list div:nth-child(2){
  background-color: #b7b67d;
  border: none;
  color: #fff;
}

.saving_list div:nth-child(2) h4{
  color: #fff;
}

.saving_list div:nth-child(1) span{
  background-color: #94aeaf;
}

.saving_list div:nth-child(2) span{
  background-color: #b7b67d;
}

.saving_list div:nth-child(3) span{
  background-color: #e17d7d;
}

.saving_list div:nth-child(4) span{
  background-color: #84e2be;
}

.saving_list div:nth-child(5) span{
  background-color: #84e2be;
}

.saving_list div:nth-child(6) span{
  background-color: #b5b47b;
}

.saving_list div:nth-child(7) span{
  background-color: #93b1b1;
}

.saving_para{
  flex-basis: 46%;
  background-color: #dae4e5;
  padding: 50px;
  margin-right: 10px;
  align-self: flex-start;
}

.saving_para h1{
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 18px;
  color: #333;
  display: inline-block;
}

.saving_para span{
  color: #748283;
  text-transform: uppercase;
  float: right;
  font-size: 13px;
  font-weight: 1000;
}

.saving_para p{
  font-size: 13px;
  line-height: 2;
  margin-top: 60px;
  color: #333;
}

.saving_para_button{
  margin-top: 30px;
}

.saving_para_button span{
  border: 1px solid #b7b67d;
  float: none;
  font-weight: 100;
  text-transform: capitalize;
  color: #333;
  display: inline-block;
  padding-right: 30px;
}

.saving_para_button span i{
  color: #fff;
  background-color: #b7b67d;
  font-size: 16px;
  padding: 5px 10px;
  margin-right: 30px;
  height: 20px;
}

.saving_para_button button{
  background-color: #fff;
  border: none;
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  float: right;
  color: #6f6f6f;
}

/* article section ends here*/